main {
  .container {
    margin: 1.6rem auto;
    width: 100%;
    max-width: var(--site-layout-width);
    display: grid;
    grid-template-columns: 24rem 65rem 35rem;
    column-gap: 1.6rem;

    @media (max-width: 1366px) {
      grid-template-columns: 24rem minmax(30rem, 1fr) 24rem;
      padding: 0 2rem;
    }
    @media (max-width: 1024px) {
      grid-template-columns: 24rem 1fr;
    }
    @media (max-width: 768px) {
      max-width: 100vw;
      display: block;
      padding: 0;
      .card {
        width: 100%;
        border-radius: 0;

        .card-body {
          padding-top: 0;
        }

        .card-footer {
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
        .card-body,
        .card-footer {
          margin-left: 0;
        }
      }
    }

    .main {
      .filters {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        .btn {
          font-size: 18px;
          padding: 8px 12px;
          line-height: 24px;

          &:hover {
            background-color: white;
            text-decoration: none;
          }
        }
      }
      .card {
        margin-bottom: 0.8rem;
      }
      .banner-card {
        .card-banner {
          height: 27.5rem;

          @media (max-width: 1366px) {
            height: auto;

            .image-control {
              width: 100%;
              height: auto;

              img {
                height: auto;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
